
<div class="row">
  <% unless @online %>
    <div class="alert alert-danger">
      <strong>Warning:</strong> This page is down for mantienence.
    </div>
  <% else %>
    <div class="col-xs-4">
      <h4> Permanent Snacks</h4>
      <!-- this could be refactored into a partial, in a bigger app -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Snack Name</th>
          </tr>
        </thead>
        <tbody>
        <% @permanent.each do |item| %>
          <tr>
           <td><%= item["name"] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-8">
      <h4>Suggested Snacks</h4>
      <div class="panel panel-info">
        <div class="panel-heading" id="vote-box">You have <strong id="vote-count"><%= @votes %></strong> votes left</div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Snack Name</th>
            <th>Vote total</th>
            <th>Date Last Ordered</th>
            <th>Vote!</th>
          </tr>
        </thead>
        <tbody>
        <% @suggestions.each do |item| %>
          <tr>
            <td><%= item["name"] %></td>
            <td><%= item["votes"] %></td>
            <td><%= item["lastPurchaseDate"] || "Never Purchased!" %></td>
            <td><%= button_to 'Vote', {:controller => "votes", :action => "create", name: item["name"]},:method=> :post, :remote => true, class: "btn btn-primary vote-button"  %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>